.market-partners-container{
	width:85%;
	margin:0 auto;
	display: block;

	.first-filter.planRegis-form{

		width:25%;
		margin:0;
	}
	
	.two-grid-column{
		justify-content: center;
		align-content: flex-start;
		grid-gap:1.5em 1.5em;
	}

.border-box{
	width:100%;
    height: auto;
    border: 2px solid #36384B;
}

.purple-background{
	color:white;
	h3{
		font-family:$para-fonts;
		font-size: 18px;
    	padding: 1em;
    	font-weight: 700;
	}
}

.mp-details-invite{
	margin:0 20px;
}

.new-planAdd-detail{
	display: block;
	margin:0 auto;
	border:0;

	table{
		overflow-y: scroll;
	}
}

.partner-data-container, .mp-invite-modal{
	.planRegis-form{
		width:95%;
		padding:1em 0;

		label,dt,span{
					@extend %label;
				}

				input{
					@extend %input;
					width:100%;
				}

				select{
					@extend %select;
					width:100%;
				}

				textarea{
					border:2px solid #36384B;
				}
		.planRegis-divStyle{
			grid-template-columns: 40% 60%;
		}

		.zuc-btn{
			margin:0 10px;

		}

		.two-grid-column{
			grid-gap:0;
		}

	}
}

.mp-invite-modal .planRegis-form{
	.planRegis-divStyle{
		grid-template-columns: 30% 70%;
	}
}

.profileBox-heading{
	font-size:18px;
	padding:1em;
}

.mp-add-product-service-modal-container, .mp-invite-modal-container,.mp-add-note-modal-container{
	@extend %modal;

	.mp-add-product-service-modal, .mp-invite-modal, .mp-add-note-modal{
		@extend %modal-background;

		.planRegis-form{
			width:90%;
			.zuc-btn{
				/*padding:15px 30px;*/
				margin:0 10px;
			}

			input{
				width:100%;
			}
			textarea{
					border:2px solid #36384B;
					border-radius: 10px;
				}
				input[type="date"]{
					border-radius: 10px;
				}
		}
	}

	.close-modal{
		@extend %form-cross;
		font-size: 1.5em;
		padding: 14px;
		color:$zucora-mint-green;
	}
}

.mp-invite-sent-modal-container{
	@extend %modal;

	.mp-invite-sent-modal{
		@extend %modal-background;

		h2 {
				font-family: $header-fonts;
				font-weight: 900;
				font-size: 3em;
				color: $zucora-purple;
				text-align: center;
				padding: 15px;
			}

			.close-modal{
				@extend %form-cross;
				font-size: 1.5em;
				padding: 10px;
			}

			.border-box{
				width:90%;
				margin:2em auto;
				padding:10px;

				h3{
					font-family: $para-fonts;
					font-size: 20px;
					font-weight: 500;
				}
			}
	}
}

}

@media screen and (max-width:$mobile-width){
	.market-partners-container{
		width:95%;
	
		.first-filter.planRegis-form{
			width:100%;
		}

	}
}