/* New price list page styling*/
.price-list-container{
	width: 70%;
	margin: 13% auto;
	max-width: 100%;

	.margin-top-large{
		margin-top:10%;	
	}
}

	.filter-input-container{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		align-content: center;
		grid-gap: 15px;

		.planRegis-form{
			width: 20%;
			padding: 0;
			margin:.41667vw 0 0;

			select{
				width:100%;		
			}
		}	
	}

	.priceList-table-container{
		display: block;
		margin:2.5em 0;
		/*padding:10px;*/
		border:2px solid $grey-text;
	}

	.priceList-table{
		border-collapse: collapse;
		margin:0;
		padding: 0;
		width: 100%;
		table-layout: fixed;

		tr{
			text-align: center;
			font-family: "aktiv-grotesk", Helvetica, sans-serif;
		}
		th{
			color: white;
			background-color: #434DA0;
		    padding: 5px;
			line-height: 22px;
    		word-break: break-word;
		}
		td{
			padding:7px 0;
		}
	}



@media screen and (max-width:$mobile-width){
	
	.price-list-container{
		margin:20% auto;
		width: 90%;
		max-width: 100%;

		h4{
			font-size: 20px;
		}
	}

	.filter-input-container{
		display: grid;
		grid-template-columns: 100%;
		justify-content: space-around;

		.planRegis-form{
			width: auto;
		}

		button{
			width: 100%;
			font-size: 18px;
		}
	}

	/*Mobile version of table*/
	.priceList-table-container{

	}
	.priceList-table{
		border:0;

		thead{
			border:none;
			width: 1px;
			height: 1px;
			margin:-1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
		}

		tr{
			border-bottom: 1px solid $grey-text;
			display: block;
			padding: 10px;
		}

		th{
			color: $zucora-purple;
			font-weight: 700;
			background-color: transparent;
		}

		td{
			display: block;
			font-size: 0.8em;
			text-align: right;
			padding:5px 0;

			&::before{
				content:attr(data-label);
				float:left;
				font-weight: 700;
				color: $zucora-purple;
				padding: 5px 0;
			}
		}
	}

	.sku-width{
		width: auto;
	}
}


@media screen and (min-width: $tablet-width) and (max-width: $max-laptop-width){
	.price-list-container{
		width: 90%;
		margin:15% auto;
		max-width: 100%;
	}
}

@media screen and (min-width: $tablet-width){
	.sku-width{
		width:30%;
	}


}