.rep-profile-container{
  width:85%;
  margin:0 auto;
  padding:0;
.rep-profile{
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  grid-gap:1em 2em;
}

  .organization-container{
    width:100%;
    height:auto;
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    max-width:100%;
  }

  .other-details-container{
    width:100%;
    height:auto;
    margin:0;
    padding:0;
    max-width:100%;

  }

.financial-details{
  .financial-info-circle{
    color:$zucora-mint-green;
  }
  .info-text-container{

  }
}
  .profile-boxStyle{
    border:2px solid $grey-text;
    padding:10px;

    p{
      font-weight: 700;
      margin-top:10px;
    }
    .planRegis-form{
      width:auto;
      padding:0;

      select{
        margin-top:5px;
      }
    }
  }

  .margin-left{
    margin-left:5px;
  }
  .margin-right{
    margin-right:5px;
  }

  .transit-input{
    width:100%;
    input{
      width:98%;
    }
  }

  .partner-profiles{
    h3{
      margin:10px;
    }
    .new-planAdd-detail{
      display: block;
      margin:0;

      th:first-of-type, td:first-of-type{
            border-right: 1px solid #d3d3df;
      }
    }
  }

  .agreement{
    h3{
      margin:10px 0;
    }
    .profile-boxStyle{
      input[type="checkbox"]{
        width:30px;
        height:30px;
      }
      p{
        margin:0 0 0 10px;
        font-weight: 500;
        font-size: 16px;
        color: #36384B;
        font-family: $para-fonts;
      }
      a{
        color: $zucora-mint-green;
        text-decoration: underline;
        margin-left: 3em;
        font-weight: 700;
      }
    }
  }

}

.popup-modals-container{
  .partner-profile-modal-container{
    @extend %modal;

    .partner-profile-modal{
      @extend %modal-background;
      .purple-background {
				h2::after {
					@extend %form-cross;
					padding: 0;
					font-weight: 700;
				}
			}
      p{
        margin-left:1em;
      }
      .new-planAdd-detail{
        display: block;
        border: 2px solid #d3d3df;
      }
    }
  }

  .agreementReader-modal-container{
    @extend %modal;
    .agreementReader-modal{
      @extend %modal-background;

        .purple-background{
          h2::after{
            @extend %form-cross;
            padding:0;
            font-weight: 700;
          }
        }
        .padding-1{
          padding:1em;
        }
        .agreement-text{
          max-width:100%;
          padding:10px 1em;
          border:2px solid $light-grey;
          overflow-y:scroll;
          max-height:300px;

          p{
            margin:10px 0;
            font-size:16px;
          }
        }

        .agreement-radioButtons{
          form{
              display: flex;
              flex-direction: row;
              align-items: center;

              div{
                margin:0 10px;
              }
              label{
                color:$zucora-purple;
                font-weight: 700;
              }
              input[type="radio"]{
                  width:20px;
                  height: 20px;
                  margin-left:5px;
                  color:$zucora-purple;
              }
            }
        }

        .agreement-actions{
          display: flex;
          flex-direction: row;
          align-items: center;
          i{
            color:$zucora-purple;
            font-size:1.5em;
            margin:0 10px;

          }
        }
    }
  }

  .financial-details-modal-container{
    @extend %modal;
    .financial-details-modal{
      @extend %modal-background;

        .purple-background{
          h2::after{
            @extend %form-cross;
            padding:0;
            font-weight: 700;
          }
        }
        .checkbook-content{
          padding:1em;
          img{
            margin-top:10px;
          }
        }
    }
  }
}

@media screen and (max-width:$mobile-width){
  .rep-profile-container{
    .rep-profile{
      display: grid;
      grid-template-columns: 100%;
    }
  }
  .popup-modals-container{
    .partner-profile-modal-container{
      .partner-profile-modal{
        width:90%;
        margin:35% auto;
      }
    }

    .agreementReader-modal-container{
      .agreementReader-modal{
        width:90%;
        margin:35% auto;

        .agreement-radioButtons{

        }
        .agreement-actions{
          margin-top:1em;
        }
      }
    }
    .financial-details-modal-container{
      .financial-details-modal{
        width:90%;
        margin:35% auto;
      }
    }
  }
}

@media screen and (min-width:$max-laptop-width){
.rep-profile-container{
      width:65%;
  }
}
