.smarterPartner-setup-container{
	
	/*first step*/
	.su-step-1,.su-step-2,.su-step-3{
		width:40%;
		margin:0 auto;
		display: block;

		.step-box{
			border:2px solid $grey-text;
			background-color: #A3ACFF;
			padding:1em;
			margin-top:2.5em;

			h2,p{
				/*color: white;*/
				font-family: $para-fonts;
				color: $grey-text;
			}

			p{
				font-size: 30px;
			}

		}

		.profileBox-style{
			/*padding:1em;*/
		}

		.planRegis-form{
			width:100%;
			padding:10px;
			margin:0 auto;

			.form-div{
				display: grid;
				grid-template-columns: 20% 80%;
				align-items: center;
				justify-content: space-around;
			}
			input{
				width: 100%;
			}
			select{
				width:100%;
				margin:.41667vw 0 0;
			}

			.two-grid-column{
				margin-top:5px;
			}
		}
	}

	.su-step-2{
		.new-planAdd-detail{
			display: block;
		}
	}

	.su-step-3{
		h3{
			margin-bottom: 0;
		}

		.su-deposit-payment-pref-info-text-container{
			@extend .info-container-green;
			width:30%;
			left:45%;
			margin-top: 3em;
			p{
				font-size: 14px;
			}
			.fa-caret-up{
				@extend .info-container-caret;
				left:45%;
			}
		}
	}

	i{
		color: $zucora-mint-green;
	    margin-left: 10px;
    	font-size: 1.5em;
    	cursor: pointer;
	}

	.profileBox-style{
		input[type="radio"]{
			height: 25px;
			width: 25px;
			margin:5px;
		}

		label{
			font-weight: 500 !important;
		}

		.planRegis-form{
			width:100%;
			label{
				@extend %label;
			}
		}
	}
}


@media screen and (max-width:$mobile-width){
	.smarterPartner-setup-container{
		.su-step-1,.su-step-2,.su-step-3{
			width:95%;
			margin:0 auto;
			display: block;

			.step-box{
				margin-top:2em;
			}
			.planRegis-form{
				.form-div{
					grid-template-columns: 35% 65%;
					word-break: break-word;
				}
			}
		}
	}

	
}

@media screen and (min-width:$tablet-width) and (max-width: $laptop-width){
	.smarterPartner-setup-container{
		.su-step-1,.su-step-2,.su-step-3{
			width:80%;
		}
	}
}

@media screen and (max-width: $laptop-width){
	.smarterPartner-setup-container{
		.su-step-3{
			.su-deposit-payment-pref-info-text-container{
				width:auto;
				left:0;
				margin-top: 4em;
				.fa-caret-up{

				}
			}
		}
	}
}