.smarterPartner-setup-container{
	
	/*first step*/
	.su-step-1,.su-step-2,.su-step-3{
		width:40%;
		margin:0 auto;
		display: block;

		.step-box{
			border:2px solid $grey-text;
			background-color: #A3ACFF;
			padding:1em;
			margin-top:2.5em;

			h2,p{
				/*color: white;*/
				font-family: $para-fonts;
				color: $grey-text;
			}

			p{
				font-size: 30px;
			}

		}

		.profileBox-style{
			/*padding:1em;*/
		}

		.planRegis-form{
			width:100%;
			padding:10px;
			margin:0 auto;

			.form-div{
				display: grid;
				grid-template-columns: 25% 75%;
				align-items: center;
				justify-content: space-around;
			}
			input{
				width: 100%;
			}
			select{
				width:100%;
				margin:.41667vw 0 0;
			}

			.two-grid-column{
				margin-top:5px;
			}
		}
	}

	.su-step-2{
		.new-planAdd-detail{
			display: block;
		}
	}

	.su-step-3{
		h3{
			margin-bottom: 0;
		}

		.su-deposit-payment-pref-info-text-container{
			@extend .info-container-green;
			width:30%;
			left:45%;
			margin-top: 3em;
			p{
				font-size: 14px;
			}
			.fa-caret-up{
				@extend .info-container-caret;
				left:45%;
			}
		}
	}

	i{
		color: $zucora-mint-green;
	    margin-left: 10px;
    	font-size: 1.5em;
    	cursor: pointer;
	}

	.profileBox-style{
		input[type="radio"]{
			height: 25px;
			width: 25px;
			margin:5px;
		}

		label{
			/*font-weight: 500 !important;*/
		}

		.planRegis-form{
			width:100%;
			label{
				@extend %label;
			}
		}
	}

	.su-credit-cards-info-text-container{
		@extend .info-container-green;
		width:30%;
		margin-top:1em;
		p{
				font-size: 14px;
			}
		.fa-caret-up{
			@extend .info-container-caret;
			left:60%;
		}
	}

	.creditCard-details-container{
		&.profileBox-style{
			padding: 0px;
		}
		ul{
			list-style-type: none;
			li{
				list-style-type: none;
			}
		}

		.su-credit-cards{
			border:2px solid $grey-text;
			margin:10px;
		}

		.credit-card-heading{
			align-content: center;
			display: grid;
			grid-template-columns: 65% 35%;
			background-color: #C8C8C8;
			border-bottom:2px solid $grey-text;
			
		}

		.su-credit-cards-type{
			font-size: 2.5em;
			margin:5px;
			color: $grey-text;
		}
		.su-credit-cards-description{
			font-size: 16px;
			font-weight: 700;
			font-family: $para-fonts;
			color: $grey-text;
		}
		.su-credit-cards-expiry{
			font-family: $para-fonts;
			font-size: 16px;
			font-weight: 500;
			color: $grey-text;
		}
		.su-credit-cards-expand{
			color: $grey-text;
			margin:0 5px;
		}

		.su-credit-cards-details{
			display: grid;
			grid-template-columns: 50% 50%;
			align-content: center;
			justify-content: center;
			font-family: $para-fonts;
			h5{
				font-size: 20px;
				font-weight: 700;
			}
		}
		.su-credit-cards-name,.su-credit-cards-billing{
			padding:10px;
		}
		.su-credit-cards-name-on-card{
			font-family: $para-fonts;
			font-size: 18px;
		}
		.su-credit-cards-billing{
			div{
				margin-bottom: 8px;
			}
			button{
				margin:5px;
			}
		}
	}
	#su-read-agree-to-terms{
		width:25px;
		height: 25px;
		margin-top:0;
	}

	.su-view-terms{
		color: $zucora-mint-green;
		text-decoration: underline;
	}

	.su-prev{
		@extend .simple-link;
	}
}

.su-locations-add-modal-container{
	@extend %modal;
	.su-locations-add-modal{
		@extend %modal-background;
		.purple-background {
				h2::after {
					@extend %form-cross;
					padding: 0;
					font-weight: 700;
				}
			}

			.planRegis-form{
				width:95%;
				.form-div{
					display: grid;
					grid-template-columns: 25% 75%;
					align-items: center;
					justify-content:center;
				}

				.margin-right{
					margin-right: 5px;
				}
				.margin-left{
					margin-left:15px;
				}
				.two-grid-column{
					width:70%;
					margin:0 auto;
				}
				select{
					margin:.41667vw 0 0;
				}

			}
	}
}

@media screen and (max-width:$mobile-width){
	.smarterPartner-setup-container{
		.su-step-1,.su-step-2,.su-step-3{
			width:95%;
			margin:0 auto;
			display: block;

			.step-box{
				margin-top:2em;
			}
			.planRegis-form{
				.form-div{
					grid-template-columns: 35% 65%;
					word-break: break-word;
				}
			}
		}
		.creditCard-details-container{
			.su-credit-cards-details{
				grid-template-columns: 100%;
			}
		}
	}

	.su-locations-add-modal-container{
		.su-locations-add-modal{
			width:95%;
			margin:30% auto;

			.planRegis-form{
				.form-div{
					/*display: flex;*/
					grid-template-columns: 30% 70%;
				}
				.two-grid-column{
					width:100%;
					grid-template-columns: 100%;
				}

				.margin-left{
					margin-left: 0;
				}
				input,select{
					width:100%;
				}
			}
		}
	}
	
}

@media screen and (min-width:$tablet-width) and (max-width: $laptop-width){
	.smarterPartner-setup-container{
		.su-step-1,.su-step-2,.su-step-3{
			width:80%;
		}
	}
}

@media screen and (max-width: $laptop-width){
	.smarterPartner-setup-container{
		.su-step-3{
			.su-deposit-payment-pref-info-text-container{
				width:auto;
				left:0;
				margin-top: 4em;
				.fa-caret-up{

				}
			}
		}
		.su-credit-cards-info-text-container{
			width:auto;
		}
	}
}

@media screen and (max-width: $max-laptop-width){
	.su-locations-add-modal-container .su-locations-add-modal .planRegis-form .two-grid-column{
		width:95%;
	}
}