@{
    Layout = "~/Views/Shared/_ZucSRSLayout.cshtml";
    ViewBag.Title = "Order Entry";
}
    <section class="order-entry-container">
      <h1 class="srs-heading">@ViewBag.Title</h1>
      <div class="two-grid-column">
        <div class="add-item-info">
          <div class="planRegis-form">
            <div class="flex flex-row flex-vert-center">
              <label for="oe-location">Location*:</label>
              <select id="oe-location" required>
                  <option value="">Location</option>
              </select>
            </div>
            <div class="flex flex-row flex-vert-center">
              <label for="oe-po-ref">PO/Ref*:</label>
              <input id="oe-po-ref" required type="text" />
            </div>
            <div class="flex flex-row flex-vert-center">
              <label for="oe-auth">Buying Group Authorization</label>
              <input id="oe-auth" type="text" />
            </div>
            <p class="light-grey-text u-text-center">(Required if requested by Buying Group)</p>
            <div class="flex flex-hor-end">
              <button class="oe-add-item zuc-btn zuc-btn-secondary u-soft-shadow">Add Item</button>
            </div>
          </div>
        </div>
        <div class="shipping-instructions">
            <div class="flex flex-column">
              <label for="oe-shipping-instructions" class="profileBox-heading">Shipping Instructions:</label>
              <textarea id="oe-shipping-instructions" cols="50" rows="10" placeholder="Customer decided they could not wait for special order Sofa and Chair."></textarea>
            </div>
            <p class="light-grey-text">(If not specified, most economical shipping method will be selected.)</p>
            <div class="two-grid-column mobile-column flex-vert-center flex-hor-center">
              <div class="planRegis-form">
                <div class="flex flex-row flex-vert-center">              
                  <label for="oe-ship-after-date">Ship After Date (Optional):</label>
                  <input id="oe-ship-after-date" type="date" />
                </div>
              </div>
              <div class="planRegis-form">
                <div class="flex flex-row flex-vert-center">
                  <input id="oe-request-expedited-shipping" type="checkbox" />
                  <label for="oe-request-expedited-shipping">
                    <strong>Request Expedited Shipping</strong><br>
                   <span style="font-size: 12px;font-weight: 300;"> Note: Expedited Shipping incurs additional cost which will be determined at time of order completion.</span>
                </label>
                </div>
            </div>
        </div>
      </div>
      <!-- two grid ends -->
    </div>
        <!-- NOTE: Grouping and subtotals intentionally left out -->
    <div class="order-table-container">
      <div class="order-table">
          <div class="purple-background">
                  <h2>@title</h2>
          </div>
          <div class="new-planAdd-detail">
            <table class="oe-items">
                <thead>
                    <tr>
                        <th scope="col">Item Type</th>
                        <th scope="col">SKU Number</th>
                        <th scope="col">Description</th>
                        <th scope="col">QTY</th>
                        <th scope="col">Unit Price</th>
                        <th scope="col">Total</th>
                        <th scope="col">Edit</th>
                    </tr>
                </thead>
                <!--
                    <tbody> will be populated via JS with elements as follows:
                        <tr data-lt-id="389518">
                            <td data-label="Item Type">[Data]</td>
                            <td data-label="SKU Number">[Data]</td>
                            <td data-label="Description">[Data]</td>
                            <td data-label="QTY">[Data]</td>
                            <td data-label="Unit Price">[Data]</td>
                            <td data-label="Total">[Data]</td>
                            <td><i class="oe-item-edit fa fa-pencil-alt"></i></td>
                        </tr>
                -->
                <tbody></tbody>
                <tfoot>
                    <tr>
                      <td colspan="4" ></td>
                        <td style="font-size:22px;">Order total:</td>
                        <td class="oe-items-total" data-label="Order total:" style="font-size:22px;"></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
          </div>
      </div>
        <!-- table container ends -->
      </div>

        <div class="flex flex-vert-center flex-hor-between orderEntry-controls mobile-column">
            <div><a class="oe-remove-order simple-link">Remove Order</a></div>
            <div>
              <p>Final order confirmation including shipping costs and taxes will be emailed once the order has been finalized.</p>
               <div class="flex flex-hor-end">
                <button class="oe-submit zuc-btn zuc-btn-secondary u-soft-shadow">Submit</button>
                </div>
            </div>
        </div>
</section>
      <div class="oe-add-item-modal-container non-visible">
        <div class="oe-add-item-modal">
            <div class="purple-background flex flex-vert-center flex-hor-between">
              <h2>Add Item</h2>
              <span class="close-modal">X</span>
            </div>
          <div class="planRegis-form">
            <div class="flex flex-vert-center"> 
              <label for="oe-add-item-item">Item*:</label>
              <input id="oe-add-item-item" list="oe-add-item-item-options" required type="text" />
            </div>
            <!-- <datalist> will be populated via JS with elements like this: <option value="Description (ZFES3050)" data-lt-value="19198"></option> -->
              <div class="datalist">
                <datalist id="oe-add-item-item-options"></datalist>
              </div>
            <div class="two-grid-column mobile-column margin-top-1">
              <!-- first side -->
            <div class="">  
              <div class="quantity-input">
                <!-- Moved datalist above because of two grid stucture -->
                <label for="oe-add-item-unit-quantity">Unit Quantity:</label>
                <div class="flex flex-vert-center">
                  <input id="oe-add-item-unit-quantity" type="number" style="margin:0 5px;" />
                  X
                  <input id="oe-add-item-unit-quantity-amount" type="number" disabled  style="margin:0 5px;" />
                </div>
              </div>
              <div class="quantity-input">
                <label for="oe-add-item-case-quantity">Case Quantity:</label>
                <div class="flex flex-vert-center">
                    <input id="oe-add-item-case-quantity" type="number" style="margin:0 5px;" />
                    X
                    <input id="oe-add-item-case-quantity-amount" type="number" disabled style="margin:0 5px;" />
                </div>
              </div>
            <div>
              <p style="font-size:14px;">Cases contain --<span class="oe-add-item-case-units"></span></p>
            </div>
          </div>
          <!-- second side -->
          <div>
            <p class="u-bold" style="font-size:22px;">Units to be Added: <span class="oe-add-item-total-units"></span></p>
            <p class="u-bold" style="font-size:18px;">Quantity Available: <span class="oe-add-item-available-units"></span></p>
            
            <p style="font-size:14px;">Do you wish to Backorder out of stock items?</p>
            <div class="flex flex-vert-center">
              <div class="flex flex-vert-center">
                <input id="oe-add-item-do-backorder" type="checkbox" name="oe-add-item-backorder" value="yes" checked />
                <label for="oe-add-item-do-backorder">Yes</label>
              </div>
              <div class="flex flex-vert-center">
                <input id="oe-add-item-do-not-backorder" type="checkbox" name="oe-add-item-backorder" value="no" />
                <label for="oe-add-item-do-not-backorder">No</label>
              </div>
            </div>
            <div class="flex flex-vert-center margin-top-1">
              <button class="oe-add-item-add-more zuc-btn zuc-btn-secondary" style="margin:0 5px;">Add More</button>
              <button class="oe-add-item-add zuc-btn zuc-btn-secondary">Add</button>
            </div>
          </div>

          </div>
            <!-- two grid ends -->
            </div>
            <!-- main form div ends -->
        </div>
        <!-- main modal div ends -->
      </div>
      <div class="oe-cancel-order-conf-modal-container non-visible">
        <div class="oe-cancel-order-conf-modal">
          <span class="close-modal">X</span>
            <h2>Caution!</h2>
            <p>Removing Order will remove all data associated with this order including selected Items.</p>
            <h3>Do you wish to continue?</h3>
            <div class="flex flex-vert-center flex-hor-center margin-bottom-1">
              <button class="oe-cancel-order-conf-yes zuc-btn zuc-btn-secondary u-soft-shadow" style="margin:5px;">Yes</button>
              <button class="oe-cancel-order-conf-no zuc-btn zuc-btn-secondary u-soft-shadow" style="margin:5px;">No</button>
            </div>
        </div>
      </div>
      <div class="oe-backorder-warning-modal-container">
        <div class="oe-backorder-warning-modal">
          <span class="close-modal">X</span>
            <h2>Backorder Warning</h2>
            <p>Please note your order contains Backordered items and will be shipped when they become available.</p>
            <div class="new-planAdd-detail">
              <table class="oe-backorder-warning-items">
                  <thead>
                      <tr>
                          <th scope="col">SKU</th>
                          <th scope="col">Description</th>
                          <th scope="col">QTY Ordered</th>
                          <th scope="col">QTY Available</th>
                      </tr>
                  </thead>
                  <!--
                      <tbody> will be populated via JS with elements as follows:
                          <tr data-lt-id="389518">
                              <td data-label="SKU">[Data]</td>
                              <td data-label="Description">[Data]</td>
                              <td data-label="QTY Ordered">[Data]</td>
                              <td data-label="QTY Available">[Data]</td>
                          </tr>
                  -->
                  <tbody></tbody>
              </table>
              
            </div>
            <div class="flex-vert-center flex-hor-center flex margin-bottom-1 margin-top-2">
              <button class="oe-backorder-warning-proceed zuc-btn zuc-btn-secondary u-soft-shadow">Proceed with Backorder</button>
            </div>
        </div>
      </div>