@model LimeTac.WebUi.Models.GoogleMapsClientKeyViewModel
@{
    Layout = "~/Views/Shared/_ZucSRSLayout.cshtml";
    ViewBag.Title = "Smarter Partner Setup";
}
@section scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=@Html.Raw(Model.GoogleMapsClientKey)&@Html.Raw(LimeTac.Ethnic.Resources.GoogleMapsAPIBaseLibraryIncludes),drawing"></script>
}
<h1>@ViewBag.Title</h1>
<div class="su-step-1">
    <div>
        <h2>Step 1 of 3.</h2>
        <p>Tell us about your business.</p>
        <p>Complete the following information so we can do business together.</p>
    </div>
    <div>
        <h3>Partner</h3>
        <div>
            <input id="su-company-name" placeholder="Company Name" />
            <input id="su-business-legal-name" placeholder="Business Legal Name" />
        </div>
    </div>
    <div>
        <h3>Billing Address</h3>
        <div>
            <label for="su-address-1">Address&nbsp;1:</label>
            <input id="su-address-1" placeholder="Address 1" />
            <label for="su-address-2">Address&nbsp;2:</label>
            <input id="su-address-2" placeholder="Address 2" />
            <label for="su-city">City:</label>
            <input id="su-city" placeholder="City" />
            <label for="su-province">Prov/State:</label>
            <!-- will be populated via JS -->
            <select id="su-province">
                <option value="">Prov/State</option>
            </select>
            <label for="su-postal">Postal:</label>
            <input id="su-postal" placeholder="Postal" />
        </div>
    </div>
    <div>
        <label for="su-tax-number">HST/GST:</label>
        <input id="su-tax-number" placeholder="HST/GST Number" />
        <label for="su-buying-group">Buying Group:</label>
        <!-- will be populated via JS -->
        <select id="su-buying-group">
            <option value="">Buying Group</option>
        </select>
        <label for="su-member-id">Member ID:</label>
        <input id="su-member-id" placeholder="Member ID" />
        <label for="su-lang-pref">Language Pref:</label>
        <!-- will be populated via JS -->
        <select id="su-lang-pref">
            <option value="">Language Preference</option>
        </select>
    </div>
</div>
<div class="su-step-2">
    <div>
        <h2>Step 2 of 3.</h2>
        <p>Identify each store and warehouse location (including the main location where sales occur and/or product may be delivered).</p>
    </div>
    <div>
        <h3>Our Locations <a class="su-locations-add">+</a></h3>
        <table class="su-locations">
            <thead>
                <tr>
                    <th scope="col">Code</th>
                    <th scope="col">Location Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Phone</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <!--
                <tbody> will be populated via JS with elements as follows:
                <tr data-lt-id="191810">
                    <td data-label="Code">[Data]</td>
                    <td data-label="Location Name">[Data] <a class="su-edit-location"></a></td>
                    <td data-label="Address">[Data]</td>
                    <td data-label="Phone">[Data]</td>
                    <td data-label="Edit"><a class="su-locations-edit"</td>
                </tr>
            -->
            <tbody></tbody>
        </table>
    </div>
</div>
<div class="su-step-3">
    <div>
        <h2>Step 2 of 3.</h2>
        <p>With the following financial details, we will be able to deposit commissions earned for Smarter Living Plans while making it easy to pay for Product Protection Plans and Products.</p>
    </div>
    <div>
        <h3>Deposit &amp; Payment Preferences</h3>
        <i class="su-deposit-payment-pref-info-circle"></i>
        <div class="su-deposit-payment-pref-info-text-container">
            <i></i>
            <p>
                <b>Commission Earnings</b><br />
                Amounts earned from enrollments to Smarter Living Plans are automatically deposited (EFT) to bank account.
            </p>
            <p>
                <b>Plan Registrations</b>
                Payment for Product Protection Plans may be paid by either EFT (withdrawn from bank account) OR by Credit Card.
            </p>
            <p>
                <b>Product Purchases</b>
                Payment for product purchases may be paid by EFT (withdrawn from bank account) OR by Credit Card used at time of Purchase OR by recognized Buying Group.
            </p>
        </div>
        <div>
            <h4>Commission Earnings</h4>
            <input id="su-commission-payment-pref-eft" name="su-commission-payment-pref" type="checkbox" value="EFT" />
            <label for="su-commission-payment-pref-eft">EFT (Deposited to Bank Account)</label>
            <h4>Plan Registrations</h4>
            <input id="su-plan-payment-pref-eft" name="su-plan-payment-pref" type="checkbox" value="EFT" />
            <label for="su-plan-payment-pref-eft">EFT (Withdrawn from Bank Account)</label>
            <input id="su-plan-payment-pref-credit-card" name="su-plan-payment-pref" type="checkbox" value="Credit Card" />
            <label for="su-plan-payment-pref-credit-card">Credit Card</label>
            <h4>Product Purchases</h4>
            <input id="su-product-payment-pref-eft" name="su-product-payment-pref" type="checkbox" value="EFT" />
            <label for="su-product-payment-pref-eft">EFT (Withdrawn from Bank Account)</label>
            <input id="su-product-payment-pref-credit-card" name="su-product-payment-pref" type="checkbox" value="Credit Card" />
            <label for="su-product-payment-pref-credit-card">Credit Card</label>
            <input id="su-product-payment-pref-buying-group" name="su-product-payment-pref" type="checkbox" value="Buying Group" />
            <label for="su-product-payment-pref-buying-group">Buying Group</label>
        </div>
    </div>
    <div>
        <h3>Banking Details</h3>
        <i class="su-banking-details-info-circle"></i>
        <div>
            <label for="su-bank-transit-number">Transit #:</label>
            <input id="su-bank-transit-number" type="number" />
            <label for="su-bank-institution-number">Institution #:</label>
            <input id="su-bank-institution-number" type="number" />
            <label for="su-bank-account-number">Account #:</label>
            <input id="su-bank-account-number" type="number" />
        </div>
    </div>
    <div>
        <h3>Credit Card Details <a class="su-credit-cards-add">+</a></h3>
        <i class="su-credit-cards-info-circle"></i>
        <div class="su-credit-cards-info-text-container">
            <i></i>
            <p>Credit Card information is required to provide payment of Smart3 Plan and Smart5 Plan registrations and online product purchases.</p>
            <p>If you are a member of a recognized Buying Group, products may be purchased on account through your Group. However, Credit Card payment is required for Smart3 Plan and Smart5 Plan registrations.</p>
        </div>
        <div>
            <!--
                
                <ul> will be populated with elements like the following. I would appreciate your feedback
                on any other classes or markup you would like to be output here, so we can add it the JS file.

                <li data-lt-id="5785379">
                    <i class="su-credit-cards-type fa fa-cc-[cardtype]"></i>
                    <h4 class="su-credit-cards-description">[CardType] ending in 4812 <span>(Default)</span></h4>
                    <span class="su-credit-cards-expiry">Expires 09/2020</span>
                    <i class="su-credit-cards-expand fa fa-chevron-down"></i>
                    <div class="su-credit-cards-details">
                        <div class="su-credit-cards-name">
                            <h5>Name on card</h5>
                            <span class="su-credit-cards-name-on-card">[Data]</span>
                        </div>
                        <div class="su-credit-cards-billing">
                            <h5>Billing address</h5>
                            <div class="su-credit-cards-billing-name">[Name]</div>
                            <div class="su-credit-cards-billing-address">[Address]</div>
                            <div class="su-credit-cards-billing-phone">[Phone Number]</div>
                        </div>
                        <div>
                            <button class="su-credit-cards-remove">Remove</button>
                            <button class="su-credit-cards-edit">Edit</button>
                        </div>
                    </div>
                </li>
            -->
            <ul class="su-credit-cards"></ul>
        </div>
    </div>
    <div>
        <h3>Agreement</h3>
        <div>
            <input id="su-read-agree-to-terms" type="checkbox" />
            <a class="su-view-terms">View Smarter Partner Agreement Terms &amp; Conditions</a>
            <label for="su-read-agree-to-terms">I have read and accept the Terms &amp; Conditions of the Smarter Partner Agreement.</label>
        </div>
    </div>
</div>
<div>
    <a class="su-prev">&lt; Back</a>
    <button class="su-next">Next</button> <!-- will be visible on steps 1 and 2 -->
    <button class="su-submit">Submit</button> <!-- will be visible on step 3 -->
</div>
<div class="su-locations-add-modal modal">
    <h2>Location</h2>
    <label for="su-locations-add-name">Name*:</label>
    <input id="su-locations-add-name" placeholder="Location name" required />
    <label for="su-locations-add-type">Address Type*:</label>
    <select id="su-locations-add-type" required>
        <option value="">Address Type</option>
        <option value="Residential">Residential</option>
        <option value="Business">Business</option>
    </select>
    <label for="su-locations-add-address-1">Address 1*:</label>
    <input id="su-locations-add-address-1" placeholder="Address 1" required />
    <label for="su-locations-add-address-2">Address 2*:</label>
    <input id="su-locations-add-address-2" placeholder="Address 2" required />
    <label for="su-locations-add-city">City*:</label>
    <input id="su-locations-add-city" placeholder="City" type="text" required />
    <label for="su-locations-add-province">Prov/State*:</label>
    <!-- will be populated via JS -->
    <select id="su-locations-add-province" required>
        <option value="">Prov/State</option>
    </select>
    <label for="su-locations-add-postal">Postal Code*:</label>
    <input id="su-locations-add-postal" placeholder="Postal Code" type="text" required />
    <label for="su-locations-add-phone">Phone*:</label>
    <input id="su-locations-add-phone" placeholder="Phone Number" type="text" required />
    <button class="su-locations-add-save-and-add">Add More</button>
    <button class="su-locations-add-save">Save</button>
</div>
<div class="su-credit-cards-add-modal modal">
    <h2>Payment Method</h2>
    <label for="su-credit-cards-add-name-on-card">Name on Card</label>
    <input id="su-credit-cards-add-name-on-card" required />
    <label for="su-credit-cards-add-card-number">Card #</label>
    <input id="su-credit-cards-add-card-number" pattern="[0-9\s]+" maxlength="24" required />
    <label>
        Expiration Date
        <select id="su-credit-cards-add-expiry-month" required>
            <option value="">MM</option>
            <option value="1">01</option>
            <option value="2">02</option>
            <option value="3">03</option>
            <option value="4">04</option>
            <option value="5">05</option>
            <option value="6">06</option>
            <option value="7">07</option>
            <option value="8">08</option>
            <option value="9">09</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
        <!-- will be populated via JS with this year and the following 10 years -->
        <select id="su-credit-cards-add-expiry-year" required>
            <option value="">YYYY</option>
        </select>
    </label>
    <h4>Billing Address <a class="su-credit-cards-add-billing-address-add">+</a></h4>
    <!--
        the <div> below will be populated with sub-<div>s like
        <div>
            <input id="su-credit-cards-add-billing-address-4189812" name="su-credit-cards-add-billing-address" type="checkbox" value="4189812" />
            <label for="su-credit-cards-add-billing-address-4189812">[Name], [Address1], [Address2], [City], [Province], [Country], [Postal]</label>
        </div>
    -->
    <div></div>
    <button class="su-credit-cards-add-done">Add Card</button>
</div>
<div class="su-credit-cards-edit-modal modal">
    <h2>Edit Payment Method</h2>
    <div>
        <h4>Payment Method</h4>
        <div class="su-credit-cards-edit-description"></div>
    </div>
    <label>
        Expiration Date
        <select id="su-credit-cards-edit-expiry-month" required>
            <option value="">MM</option>
            <option value="1">01</option>
            <option value="2">02</option>
            <option value="3">03</option>
            <option value="4">04</option>
            <option value="5">05</option>
            <option value="6">06</option>
            <option value="7">07</option>
            <option value="8">08</option>
            <option value="9">09</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
        <!-- will be populated via JS with this year and the following 10 years -->
        <select id="su-credit-cards-edit-expiry-year" required>
            <option value="">YYYY</option>
        </select>
    </label>
    <div>
        <input id="su-credit-cards-edit-is-default" type="checkbox" />
        <label for="su-credit-cards-edit-is-default">Use as Default</label>
    </div>
    <div>
        <label for="su-credit-cards-edit-name-on-card">Name on Card</label>
        <input id="su-credit-cards-edit-name-on-card" required />
    </div>
    <div>
        <h4>Billing Address <a class="su-credit-cards-edit-billing-address-edit"></a></h4>
        <div class="su-credit-cards-edit-billing-name"></div>
        <div class="su-credit-cards-edit-billing-address"></div>
        <div class="su-credit-cards-edit-billing-phone"></div>
    </div>
    <button class="su-credit-cards-edit-cancel">Cancel</button>
    <button class="su-credit-cards-edit-save">Save</button>
</div>
<div class="su-banking-details-modal modal">
    <h2>Banking Details</h2>
    <span class="close-modal">X</span>
    <p>Banking information is required to provide direct deposit of Commissions earned from enrollment of Smarter Living Plans. (If you are not offering the Smarter Living Plan, this information is optional.) Please include the following.</p>
    <img />
</div>
<div class="su-agreement-modal modal">
    <h2>Smarter Partner Agreement</h2>
    <span class="close-modal">X</span>
    <div class="su-agreement-text"></div>
    <div>
        <button class="su-agreement-disagree">I Do Not Agree</button>
        <button class="su-agreement-agree">I Agree</button>
        <i class="su-agreement-print"></i>
        <i class="su-agreement-download"></i>
    </div>
</div>
<div class="su-submitted-modal modal">
    <h2>Thank you!</h2>
    <span class="close-modal">X</span>
    <p>Thank you for completing the Setup for the Smarter Partner program. We will review your information and advise you by email within 2 business days following our review of the information provided.</p>
</div>