@{
    Layout = "~/Views/Shared/_ZucSRSLayout.cshtml";
    ViewBag.Title = "My Profile";
}
<section class="advisor-profile-container">
  <h1 class="srs-heading">@ViewBag.Title</h1>
<!--
    NOTE: Clicking anywhwere on .pf-picture-container will trigger the
          file explorer to upload a new picture; .pf-add-picture-prompt
          will only show if no picture has been added and .pf-picture
          will only show if a picture has been uploaded.

    NOTE: There is some inline styling below to assist with the picture upload.
          Please feel free to move it into a stylesheet, if preferred.  It
          helps with the logic, so I have included it here.
-->
<div class="flex flex-vert-center flex-hor-center margin-top-2 mobile-column">
  <div class="pf-picture-container" style="position: relative;">
      <img class="pf-picture" src="~/Images/Zuc/images/profile-icon.png" alt="Profile picture icon"/>
      <div class="pf-add-picture-prompt">
          <i></i>
          <i></i>
          <!-- Note: is it okay to change from span tag to <p> tag? -->
          <span><p class="u-text-center">Add Image</p></span>
      </div>
      <input class="pf-picture-to-upload" type="file" />
  </div>
  <div class="flex flex-vert-center">
      <input name="pf-nickname" placeholder="Nickname (displayed name)" type="text" />
      <i class="pf-nickname-info-icon fa fa-info-circle"></i>
      <div class="pf-nickname-info-container non-visible">
          <i class="fa fa-caret-left"></i>
          <p class="info-text">Enter a name you would like to use when displayed publicly, such as on the "Leader Board".</p>
      </div>
  </div>
</div>
<div class="two-grid-column mobile-column">
  <!-- first section -->
    <div class="first-section">
        <h3 class="profileBox-heading">Profile</h3>
        <div class="profile-boxStyle">
            <h4 class="purple-text">Name:</h4>
              <div class="flex flex-vert-center flex-hor-center">
                <input name="pf-first-name" placeholder="First" type="text" class="margin-right" />
                <input name="pf-last-name" placeholder="Last" type="text" class="margin-left" />
            </div>
            <input name="pf-phone" placeholder="Phone Number" type="text" />
            <input name="pf-email" placeholder="Email" type="text" class="margin-bottom-1"/>
        </div>
    </div>
<!-- second section -->
  <div class="second-section">
      <div>
        <div class="flex flex-vert-center">
          <h3 class="profileBox-heading">S.I.N. (Required)</h3>
          <i class="pf-sin-info-icon fa fa-info-circle"></i>
        </div>

        <div class="pf-sin-info-container non-visible">
            <i class="fa fa-caret-up"></i>
            <p class="info-text">We need your Social Insurance Number so we can record and report Smarter Living Plan earnings on an annual basis.</p>
        </div>

        <div class="profile-boxStyle">
            <h4 class="purple-text">Social Insurance Number</h4>
            <input name="pf-sin" placeholder="Number" type="text" />
        </div>
    </div>

    <div class="margin-top-1">
        <h3 class="profileBox-heading">Agreement</h3>
        <div class="profile-boxStyle agreement-text">
          <div class="flex flex-vert-center">          
            <input type="checkbox" name="pf-have-read-and-accept" />
            <label for="pf-have-read-and-accept">I have read and accept the Advisor Terms and Conditions.</label>
          </div>
            <a href="#/" class="pf-view-terms-and-conditions">View Terms &amp; Conditions</a>
        </div>
    </div>
    <!-- second section div closes -->
  </div>
    <!-- two grid-div ends -->
</div>
<div>
    <h3 class="profileBox-heading">Permissions (Set by Owner)</h3>
    <div class="permissions">
        <div>
            <p class="purple-text u-bold u-text-center">Order Product</p>
            <div class="flex flex-column flex-vert-center">
                <label for="pf-permission-products">Products</label>
                <input type="checkbox" name="pf-permission-products" disabled />
            </div>
        </div>
        <div>
            <p class="purple-text u-bold u-text-center">Protection Plan</p>
            <div class="flex flex-row flex-hor-center flex-vert-center">
                <div class="flex flex-column flex-vert-center">
                    <label for="pf-permission-register">Register</label>
                    <input type="checkbox" name="pf-permission-register" data-lt-role-name="M-Plan Registration" disabled />
                </div>
                <div class="flex flex-column flex-vert-center">
                    <label for="pf-permission-modify">Modify</label>
                    <input type="checkbox" name="pf-permission-modify" data-lt-role-name="C-Plan Inquiry-Modify Plan" disabled />
                </div>
                <div class="flex flex-column flex-vert-center">
                    <label for="pf-permission-cancel">Cancel</label>
                    <input type="checkbox" name="pf-permission-cancel" data-lt-role-name="C-Plan Inquiry-Cancel Plan" disabled />
                </div>
            </div>
        </div>
        <div>
            <p class="purple-text u-bold u-text-center">Smarter Living Plans</p>
            <div class="flex flex-column flex-vert-center">
                <label for="pf-permission-enroll">Enroll</label>
                <input type="checkbox" name="pf-permission-enroll" disabled />
            </div>
        </div>
        <div>
            <p class="purple-text u-bold u-text-center">Reporting</p>
            <div class="flex flex-row flex-hor-around flex-vert-center">
                <div class="flex flex-column flex-vert-center">
                    <label for="pf-permission-orders">Orders</label>
                    <input type="checkbox" name="pf-permission-orders" disabled />
                </div>
                <div class="flex flex-column flex-vert-center">
                    <label for="pf-permission-plans">Plans</label>
                    <input type="checkbox" name="pf-permission-plans" data-lt-role-name="M-Plan Inquiry" disabled />
                </div>
                <div class="flex flex-column flex-vert-center">
                    <label for="pf-permission-success-tracker">Success Tracker</label>
                    <input type="checkbox" name="pf-permission-success-tracker" disabled />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- screen controllers -->
<div class="flex flex-vert-center flex-hor-between mobile-column margin-bottom-2 margin-top-1">
    <div>
        <a href="~/Account/Manage" class="simple-link u-uppercase">Change Password</a>
        <i class="fa fa-pencil-alt purple-text"></i>
    </div>
    <div class="flex flex-vert-center flex-hor-center margin-top-1">
      <button class="pf-update zuc-btn zuc-btn-secondary u-soft-shadow">Save</button>
    </div>
</div>
</section>
<div class="pf-agreement-modal-container non-visible">
    <div class="pf-agreement-modal">
        <div class="purple-background flex flex-vert-center flex-hor-between">
            <h2>Advisor Agreement</h2>
            <span class="close-modal">X</span>
        </div>
        <div class="padding-1">
            <div class="pf-agreement-text"></div>

            <div class="flex flex-vert-center flex-hor-between margin-top-1 mobile-column">
                <div class="agreement-radioButtons">
                    <button class="pf-agreement-disagree zuc-btn zuc-btn-secondary u-soft-shadow">I Do Not Agree</button>
                    <button class="pf-agreement-agree zuc-btn zuc-btn-secondary u-soft-shadow">I Agree</button>
                </div>
                <div class="agreement-actions">
                    <i class="pf-agreement-print fas fa-print"></i>
                    <i class="pf-agreement-download fas fa-download"></i>
                </div>
            </div>

        </div><!--padding 1 ends-->
    </div>
</div>